Django==1.9.1
djangorestframework==3.6.4
uWSGI==2.0.19
wechatpy==1.3.1
requests==2.8.1
psycopg2==2.8.6
APScheduler==3.0.6
pytz
pycrypto==2.6.1
ago==0.0.6
tomorrow==0.2.4
httmock==1.2.4
jieba==0.42.1
python_dateutil==2.6.0
shove==0.6.6
coverage
Pillow==6.2.2
py-lru-cache==0.1.4
grip==4.6.2
pydub==0.25.1