Django==1.9.1
djangorestframework==3.5.3
uWSGI==2.0.11.2
wechatpy==1.2.16
requests==2.8.1
psycopg2==2.6.1
APScheduler==3.0.6
pytz
pycrypto==2.6.1
ago==0.0.6
tomorrow==0.2.4
httmock==1.2.4
jieba==0.38
python_dateutil==2.6.0
coverage
