.loading-container .loading {
    background-color: transparent;
}
.item.item-input {
    align-items: baseline;
}
.item-divider {
    color: inherit;
    font-weight: normal;
}
.content-input input {
    color: #FFF !important;
    border-bottom: 1px solid #ddd !important;
    font-size: 30px !important;
    height: 40px;
    /*To be consistent with header*/
    transform: translate3d(0,0,0);
}
.content-input .item-input {
    padding: 16px;
}
.no-top-border {
    border-top-width: 0px;
}
.no-border {
    border: none;
    background-image: none !important;
}