<ion-view view-title="微定时 — 设置" hide-nav-bar="true">

    <ion-content>
        <ion-list>

            <ion-item class="item-divider"></ion-item>
            <ion-toggle ng-model="profile.hasMorningGreeting" toggle-class="toggle-positive">
                早报
                <div class="settings-description">
                    开启后，微定时会在每天早晨推送今天的提醒列表，方便亲们提前做好准备。</div>
            </ion-toggle>
            <label class="item" ng-show="profile.hasMorningGreeting" ng-if="false">
                推送时间
                <input type="time" class="item-note"
                       ng-model="profile.morningGreetingTime" style="position: absolute; top: -1000px;">
                <span class="item-note">{{ profile.morningGreetingTime | date:'HH:mm' }}</span>
            </label>

            <ion-toggle ng-model="profile.notify_subscription" toggle-class="toggle-positive">
                提醒被订阅通知
                <div class="settings-description">
                    开启后，每当有人订阅你分享出去的提醒时，微定时会给你发条通知。</div>
            </ion-toggle>

            <label class="item item-input item-select">
                <div class="input-label">
                    默认时区
                </div>

                <select ng-model="profile.timezone">
                    <option value="Pacific/Midway">(GMT-11:00) 萨摩亚中途岛</option>
                    <option value="Pacific/Pago_Pago">(GMT-11:00) 帕果帕果</option>
                    <option value="Pacific/Honolulu">(GMT-10:00) 夏威夷</option>
                    <option value="America/Anchorage">(GMT-8:00) 阿拉斯加</option>
                    <option value="America/Vancouver">(GMT-7:00) 温哥华</option>
                    <option value="America/Los_Angeles">(GMT-7:00) 太平洋时间（美国和加拿大）</option>
                    <option value="America/Tijuana">(GMT-7:00) 蒂华纳</option>
                    <option value="America/Phoenix">(GMT-7:00) 亚利桑那</option>
                    <option value="America/Mazatlan">(GMT-7:00) 马萨特兰</option>
                    <option value="America/Edmonton">(GMT-6:00) 埃德蒙顿</option>
                    <option value="America/Denver">(GMT-6:00) 山区时间（美国和加拿大）</option>
                    <option value="America/Regina">(GMT-6:00) 萨克其万</option>
                    <option value="America/Guatemala">(GMT-6:00) 危地马拉</option>
                    <option value="America/El_Salvador">(GMT-6:00) 萨尔瓦多</option>
                    <option value="America/Managua">(GMT-6:00) 马那瓜</option>
                    <option value="America/Costa_Rica">(GMT-6:00) 哥斯达黎加</option>
                    <option value="America/Tegucigalpa">(GMT-6:00) 特古西加尔巴</option>
                    <option value="America/Mexico_City">(GMT-6:00) 墨西哥城</option>
                    <option value="America/Winnipeg">(GMT-5:00) 温尼伯</option>
                    <option value="America/Chicago">(GMT-5:00) 中部时间（美国和加拿大）</option>
                    <option value="America/Panama">(GMT-5:00) 巴拿马</option>
                    <option value="America/Bogota">(GMT-5:00) 波哥大</option>
                    <option value="America/Lima">(GMT-5:00) 利马</option>
                    <option value="America/Montreal">(GMT-4:00) 蒙特利尔</option>
                    <option value="America/New_York">(GMT-4:00) 东部时间（美国和加拿大）</option>
                    <option value="America/Indianapolis">(GMT-4:00) 印第安纳（东部）</option>
                    <option value="America/Puerto_Rico">(GMT-4:00) 波多黎各</option>
                    <option value="America/Caracas">(GMT-4:00) 加拉加斯</option>
                    <option value="America/Halifax">(GMT-3:00) 哈利法克斯</option>
                    <option value="America/Santiago">(GMT-3:00) 圣地亚哥</option>
                    <option value="America/Montevideo">(GMT-3:00) 蒙得维的亚</option>
                    <option value="America/Araguaina">(GMT-3:00) 巴西利亚</option>
                    <option value="America/Argentina/Buenos_Aires">(GMT-3:00) 布宜诺斯艾利斯，乔治城</option>
                    <option value="Canada/Atlantic">(GMT-3:00) 大西洋时间（加拿大）</option>
                    <option value="America/Godthab">(GMT-3:00) 格林兰岛</option>
                    <option value="America/St_Johns">(GMT-2:30) 纽芬兰和拉布拉多</option>
                    <option value="America/Sao_Paulo">(GMT-2:00) 圣保罗</option>
                    <option value="Atlantic/Cape_Verde">(GMT-1:00) 佛得角群岛</option>
                    <option value="Atlantic/Azores">(GMT-1:00) 亚速尔群岛</option>
                    <option value="UTC">(GMT+0:00) 世界标准时间UTC</option>
                    <option value="Etc/Greenwich">(GMT+0:00) 格林威治标准时间</option>
                    <option value="Atlantic/Reykjavik">(GMT+0:00) 雷克雅未克</option>
                    <option value="Africa/Nouakchott">(GMT+0:00) 努瓦克肖特</option>
                    <option value="Europe/Dublin">(GMT+0:00) 都柏林</option>
                    <option value="Europe/London">(GMT+0:00) 伦敦</option>
                    <option value="Europe/Lisbon">(GMT+0:00) 里斯本</option>
                    <option value="Africa/Casablanca">(GMT+0:00) 卡萨布兰卡</option>
                    <option value="Africa/Bangui">(GMT+1:00) 中非西部</option>
                    <option value="Africa/Algiers">(GMT+1:00) 阿尔及尔</option>
                    <option value="Africa/Tunis">(GMT+1:00) 突尼斯</option>
                    <option value="Europe/Belgrade">(GMT+1:00) 贝尔格莱德，布拉迪斯拉发，卢布尔雅那</option>
                    <option value="CET">(GMT+1:00) 萨拉热窝，斯科普里，萨格勒布</option>
                    <option value="Europe/Oslo">(GMT+1:00) 奥斯陆</option>
                    <option value="Europe/Copenhagen">(GMT+1:00) 哥本哈根</option>
                    <option value="Europe/Brussels">(GMT+1:00) 布鲁塞尔</option>
                    <option value="Europe/Berlin">(GMT+1:00) 阿姆斯特丹，柏林，罗马，斯德哥尔摩，维也纳</option>
                    <option value="Europe/Amsterdam">(GMT+1:00) 阿姆斯特丹</option>
                    <option value="Europe/Rome">(GMT+1:00) 罗马</option>
                    <option value="Europe/Stockholm">(GMT+1:00) 斯德哥尔摩</option>
                    <option value="Europe/Vienna">(GMT+1:00) 维也纳</option>
                    <option value="Europe/Luxembourg">(GMT+1:00) 卢森堡</option>
                    <option value="Europe/Paris">(GMT+1:00) 巴黎</option>
                    <option value="Europe/Zurich">(GMT+1:00) 苏黎世</option>
                    <option value="Europe/Madrid">(GMT+1:00) 马德里</option>
                    <option value="Europe/Warsaw">(GMT+1:00) 华沙</option>
                    <option value="Europe/Prague">(GMT+1:00) 布拉格布拉迪斯拉发</option>
                    <option value="Europe/Budapest">(GMT+1:00) 布达佩斯</option>
                    <option value="Africa/Harare">(GMT+2:00) 哈拉雷，比勒陀利亚</option>
                    <option value="Africa/Tripoli">(GMT+2:00) 的黎波里</option>
                    <option value="Africa/Cairo">(GMT+2:00) 开罗</option>
                    <option value="Africa/Johannesburg">(GMT+2:00) 约翰内斯堡</option>
                    <option value="Asia/Damascus">(GMT+2:00) 大马士革</option>
                    <option value="Asia/Amman">(GMT+2:00) 安曼</option>
                    <option value="Asia/Beirut">(GMT+2:00) 贝鲁特</option>
                    <option value="Asia/Jerusalem">(GMT+2:00) 耶路撒冷</option>
                    <option value="Europe/Helsinki">(GMT+2:00) 赫尔辛基</option>
                    <option value="Europe/Sofia">(GMT+2:00) 索菲亚</option>
                    <option value="Europe/Athens">(GMT+2:00) 雅典</option>
                    <option value="Europe/Bucharest">(GMT+2:00) 布加勒斯特</option>
                    <option value="Asia/Nicosia">(GMT+2:00) 尼科西亚</option>
                    <option value="Europe/Kiev">(GMT+2:00) 基辅</option>
                    <option value="Africa/Nairobi">(GMT+3:00) 内罗毕</option>
                    <option value="Europe/Istanbul">(GMT+3:00) 伊斯坦布尔</option>
                    <option value="Europe/Moscow">(GMT+3:00) 莫斯科</option>
                    <option value="Asia/Baghdad">(GMT+3:00) 巴格达</option>
                    <option value="Asia/Kuwait">(GMT+3:00) 科威特</option>
                    <option value="Asia/Riyadh">(GMT+3:00) 利雅得</option>
                    <option value="Asia/Bahrain">(GMT+3:00) 巴林</option>
                    <option value="Asia/Qatar">(GMT+3:00) 卡塔尔</option>
                    <option value="Asia/Aden">(GMT+3:00) 亚丁</option>
                    <option value="Africa/Khartoum">(GMT+3:00) 喀土穆</option>
                    <option value="Africa/Djibouti">(GMT+3:00) 吉布提</option>
                    <option value="Africa/Mogadishu">(GMT+3:00) 摩加迪沙</option>
                    <option value="Asia/Tehran">(GMT+3:30) 德黑兰</option>
                    <option value="Asia/Dubai">(GMT+4:00) 迪拜</option>
                    <option value="Asia/Muscat">(GMT+4:00) 马斯喀特</option>
                    <option value="Asia/Baku">(GMT+4:00) 巴库，第比利斯，叶里温</option>
                    <option value="Asia/Kabul">(GMT+4:30) 喀布尔</option>
                    <option value="Asia/Yekaterinburg">(GMT+5:00) 叶卡捷琳堡</option>
                    <option value="Asia/Tashkent">(GMT+5:00) 伊斯兰堡，卡拉奇，塔什干</option>
                    <option value="Asia/Calcutta">(GMT+5:30) 印度</option>
                    <option value="Asia/Kolkata">(GMT+5:30) 孟买，加尔各答，新德里</option>
                    <option value="Asia/Kathmandu">(GMT+5:45) 加德满都</option>
                    <option value="Asia/Almaty">(GMT+6:00) 阿拉木图</option>
                    <option value="Asia/Dacca">(GMT+6:00) 达卡</option>
                    <option value="Asia/Dhaka">(GMT+6:00) 阿斯塔纳，达卡</option>
                    <option value="Asia/Novosibirsk">(GMT+7:00) 新西伯利亚</option>
                    <option value="Asia/Krasnoyarsk">(GMT+7:00) 克拉斯诺亚尔斯克</option>
                    <option value="Asia/Bangkok">(GMT+7:00) 曼谷</option>
                    <option value="Asia/Saigon">(GMT+7:00) 越南</option>
                    <option value="Asia/Jakarta">(GMT+7:00) 雅加达</option>
                    <option value="Asia/Irkutsk">(GMT+8:00) 伊尔库次克，乌兰巴托</option>
                    <option value="Asia/Shanghai">(GMT+8:00) 北京，上海</option>
                    <option value="Asia/Hong_Kong">(GMT+8:00) 香港</option>
                    <option value="Asia/Taipei">(GMT+8:00) 台北</option>
                    <option value="Asia/Kuala_Lumpur">(GMT+8:00) 吉隆坡</option>
                    <option value="Asia/Singapore">(GMT+8:00) 新加坡</option>
                    <option value="Australia/Perth">(GMT+8:00) 珀斯</option>
                    <option value="Asia/Yakutsk">(GMT+9:00) 雅库茨克</option>
                    <option value="Asia/Seoul">(GMT+9:00) 首尔</option>
                    <option value="Asia/Tokyo">(GMT+9:00) 大阪，札幌，东京</option>
                    <option value="Australia/Darwin">(GMT+9:30) 达尔文</option>
                    <option value="Asia/Vladivostok">(GMT+10:00) 符拉迪沃斯托克</option>
                    <option value="Pacific/Port_Moresby">(GMT+10:00) 关岛，莫尔斯比港</option>
                    <option value="Australia/Brisbane">(GMT+10:00) 布里斯班</option>
                    <option value="Australia/Adelaide">(GMT+10:30) 阿德莱德</option>
                    <option value="Australia/Sydney">(GMT+11:00) 堪培拉，墨尔本，悉尼</option>
                    <option value="Australia/Hobart">(GMT+11:00) 霍巴特</option>
                    <option value="Asia/Magadan">(GMT+11:00) 马加丹</option>
                    <option value="SST">(GMT+11:00) 所罗门群岛</option>
                    <option value="Pacific/Noumea">(GMT+11:00) 新喀里多尼亚</option>
                    <option value="Asia/Kamchatka">(GMT+12:00) 堪察加</option>
                    <option value="Pacific/Fiji">(GMT+12:00) 斐济群岛，马绍尔群岛</option>
                    <option value="Pacific/Auckland">(GMT+13:00) 奥克兰，惠灵顿</option>
                    <option value="Pacific/Apia">(GMT+14:00) 萨摩亚独立国</option>
                </select>
            </label>

        </ion-list>
    </ion-content>
</ion-view>
