{% extends "remind/remind_base.html" %}

{% load humanize %}

{% block page %}
<!-- Page, "data-page" contains page name -->
<form data-page="update" class="page navbar-fixed toolbar-fixed remind-update" method="post" id="remind-update" action="{{ remind.get_absolute_url }}">

<!-- Top Navbar-->
<header class="bar bar-nav">
    <a href="{% url "remind_list" %}" class="pull-left icon-only back">
        <i class="icon icon-left"></i>
    </a>
  {% if remind.owner_id == user.pk %}
    <button type="submit" class="button no-border pull-right">
        <i id="icon-submit" class="icon icon-edit"></i>
    </button>
  {% endif %}
  {% if remind.owner_id == user.pk or user.pk in remind.participants %}
    <a href="#" data-delete-link="{% url "remind_delete" remind.pk.hex %}" class="icon-only pull-right button-link text-right delete-remind">
        <i class="icon icon-remove"></i>
    </a>
  {% endif %}
</header>

    <!-- Scrollable page content -->
<div class="content">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <ul class="list-block">
        <li class="item-content">
            <div class="item-inner">
                <div class="item-input">
                    <label for="{{ form.event.id_for_label }}" class="label"><i class="fa fa-calendar-check-o color-gray"></i></label>
                    <input id="{{ form.event.id_for_label }}" type="text" placeholder="请输入要提醒的事件" maxlength="120" required name="{{ form.event.html_name }}"
                           {% ifnotequal remind.owner user %}readonly{% endifnotequal %} value="{{ remind.event }}">
                </div>
                {% if form.event.errors %}
                    <div class="item-after"><i data-popover=".popover-event" class="link open-popover weui_icon_cancel"></i></div>
                {% endif %}
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-input">
                    <label for="{{ form.time.id_for_label }}" class="label"><i class="fa fa-clock-o color-gray"></i></label>
                    <input id="{{ form.time.id_for_label }}" type="datetime-local" placeholder="请输入提醒时间" maxlength="120" required name="{{ form.time.html_name }}"
                           {% ifnotequal remind.owner user %}readonly{% endifnotequal %} value="{{ remind.time|date:"Y-m-d\TH:i" }}">
                </div>
                {% if form.time.errors %}
                    <div class="item-after"><i data-popover=".popover-time" class="link open-popover weui_icon_cancel"></i></div>
                {% endif %}
            </div>
        </li>
        <li class="item-content">
            <div class="item-inner">
                <div class="item-input">
                    <label for="{{ form.desc.id_for_label }}" class="label"><i class="fa fa-sticky-note-o color-gray"></i></label>
{#                    <input id="{{ form.desc.id_for_label }}" type="text" placeholder="请输入备注(可选)" name="{{ form.desc.html_name }}" value="{{ remind.desc }}">#}
                    <textarea class="resizable" id="{{ form.desc.id_for_label }}" placeholder="请输入备注(可选)"
                              {% ifnotequal remind.owner user %}readonly{% endifnotequal %} name="{{ form.desc.html_name }}">{{ remind.desc }}</textarea>
                </div>
                {% if form.desc.errors %}
                    <div class="item-after"><i data-popover=".popover-desc" class="open-popover weui_icon_cancel"></i></div>
                {% endif %}
            </div>
        </li>
    </ul>
</div>

</form>
{% endblock page %}

{% block popover %}
    {% if form.event.errors %}
        <div class="popover popover-event modal-in">
            <!-- Popover's angle arrow -->
            <div class="popover-angle on-top"></div>
            <!-- Popover content -->
            <div class="popover-inner">
            <div class="list-block">
                <ul>
                {% for error in form.event.errors %}
                    <li class="item-content">{{ error|escape }}</li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    {% endif %}
    {% if form.time.errors %}
        <div class="popover popover-time modal-in">
            <!-- Popover's angle arrow -->
            <div class="popover-angle on-top"></div>
            <!-- Popover content -->
            <div class="popover-inner">
            <div class="list-block">
                <ul>
                {% for error in form.time.errors %}
                    <li class="item-content">{{ error|escape }}</li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    {% endif %}
    {% if form.desc.errors %}
        <div class="popover popover-desc modal-in">
            <!-- Popover's angle arrow -->
            <div class="popover-angle on-top"></div>
            <!-- Popover content -->
            <div class="popover-inner">
            <div class="list-block">
                <ul>
                {% for error in form.desc.errors %}
                    <li class="item-content">{{ error|escape }}</li>
                {% endfor %}
                </ul>
            </div>
            </div>
        </div>
    {% endif %}
{% endblock popover %}
