<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}我的提醒{% endblock %}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% block css %}
        <link href="https://res.wx.qq.com/open/libs/weui/0.3.0/weui.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://f7cn.com/dist/css/framework7.ios.min.css">
        <link rel="stylesheet" href="http://f7cn.com/dist/css/framework7.ios.colors.min.css">
{#        <link href="{% static "css/app.v2.css" %}" rel="stylesheet">#}
        <link href="{% static "css/remind.css" %}" rel="stylesheet">
    {% endblock css %}
    </head>

  <body class="theme-gray">
    {% block body %}
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
        <div class="statusbar-overlay"></div>
        <!-- Views -->
        <div class="views">
          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
          {% block navbar %}
          {% endblock navbar %}
            <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through toolbar-through">
                {% block page %}
                {% endblock page %}
            </div>
            <!-- Bottom Toolbar-->
          </div>
        </div>
    {% endblock body %}

    {% block footer %}
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">
{#    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>#}
    <script type='text/javascript' src='http://f7cn.com/dist/js/framework7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='{% static "js/remind.js" %}' charset='utf-8'></script>
    {% endblock footer %}
  </body>
</html>