{% extends "remind/remind_base.html" %}

{% block title %}我的提醒{% endblock %}


{% load humanize %}
{% block body %}
<div class="page page-current" id='remind_list'>
<div class="content">
    {% regroup reminds by time|naturalday:"Y年n月j日 D" as reminds_by_day %}
    {% now "Y年" as current_year %}

    {% for day_remind_list in reminds_by_day %}
        <section>
            <header class="panel-heading">
               {{ day_remind_list.grouper|cut:current_year }}
            </header>
            <div>
            {% for rem in day_remind_list.list %}
                <a href="{{ rem.get_absolute_url }}" class="list-group-item weui_cells_access">
                <div class="media">
                    <span class="pull-left thumb-small">
                        <img alt="{{ rem.owner.get_full_name }}" src="{{ rem.owner.headimgurl }}"  class="img-rounded">
                    </span>
                    <div class="media-body">
                        <div><span class="h5">{{ rem.title }}</span></div>
                        <small class="text-muted">{{ rem.time|date:"H:i" }}</small>
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
        </section>
    {% empty %}
        <p>暂无提醒</p>
    {% endfor %}
    </div>
</div>
</div>
{% endblock body %}