[program:wecron]
directory = {{ PROJ_HOME }}
command = make run-in-prod
autostart = true
autorestart = true
startsecs = 5
stdout_logfile = {{ PROJ_HOME }}/log/out.log
stderr_logfile = {{ PROJ_HOME }}/log/err.log
user = www-data
group = www-data
stopsignal = INT
; Stop not only the parent process but also the spawned processes.
stopasgroup = true
; To activate virtualenv
; Set secret keys here to make migrate happy
environment = 
    PATH="{{ PROJ_VENV }}/bin:%(ENV_PATH)s",
    TZ="Asia/Shanghai",
    WX_APPID="{{ WX_APPID }}",
    WX_APPSECRET="{{ WX_APPSECRET }}",
    WX_SIGN_TOKEN="{{ WX_SIGN_TOKEN }}",
    DJ_SECRET_KEY="{{ DJ_SECRET_KEY }}",
    DJ_DEBUG=0,
    WECRON_DB_HOST="{{ WECRON_DB_HOST }}",
    WECRON_DB_PORT="{{ WECRON_DB_PORT }}",
    WECRON_DB_NAME="{{ WECRON_DB_NAME }}",
    WECRON_DB_USER="{{ WECRON_DB_USER }}",
    WECRON_DB_PASSWORD="{{ WECRON_DB_PASSWORD }}"
