[uwsgi]
chdir = {{ PROJ_HOME }}/WeCron
wsgi-file = wecron/wsgi.py
virtualenv = {{ PROJ_VENV }}
# http-socket = 0.0.0.0:9090
socket = /tmp/wecron-uwsgi.sock
chmod-socket = 666
log-format = %(addr) - worker:%(wid) - [%(ltime)] "%(method) %(uri) %(proto)" %(status) %(size) %(msecs)ms "%(referer)" "%(uagent)"

uid = www-data
gid = www-data

env = LANG=en_US.UTF-8
env = PYTHONIOENCODING=utf8

master = True
enable-threads = true
single-interpreter = true
threads = 4

pidfile = /tmp/wecron-uwsgi.pid
# daemonize = /var/log/wecron/app.log

# destroy workers blocked for more than 30 seconds
harakiri = 30
max-requests = 1000
vacuum = True

stats = 127.0.0.1:9191
