<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>微定时 — 我的提醒</title>
    <link rel="canonical" href="http://wecron.betacat.io/"/>
    <link rel="shortcut icon" href="{% static "img/favicon.jpeg" %}">
    <link rel="bookmark" href="{% static "img/favicon.jpeg" %}" >
    <link href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/ionic/1.3.2/css/ionic.min.css" rel="stylesheet">
    <link href="{% static "css/remind.css" %}" rel="stylesheet">

    <script src="//cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
    <script src="//cdn.bootcss.com/angular-i18n/1.5.3/angular-locale_zh-cn.min.js" defer></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js" defer></script>
    <script>
        var userID = "{{ request.user.pk }}";
        var remindListUrl = "{% static "tpls/remind_list.html" %}";
        var remindDetailUrl = "{% static "tpls/remind_detail.html" %}";
        // handle Ads inserted by ISP
        if (window != top) top.location.href = window.location.href;
    </script>
    <script src="{% static "js/remind.js" %}"></script>
</head>
<body ng-app="remind">
    <!--Put title align here for Android-->
    <ion-nav-bar class="bar-positive no-border" align-title="center">
    </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>
    <div id="weixinTip" onclick="this.style.display='none'">
        <!-- ng-src for lazy load -->
        <img ng-src="{% static "img/weixin-share.png" %}">
    </div>
    <script id="loading-toast" type="text/ng-template">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        wx.config({
            debug: false,
            appId: '{{ appId }}',
            timestamp: {{ timestamp }},
            nonceStr: '{{ nonce_str }}',
            signature: '{{ signature }}',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone']
        });
    </script>
</body>
</html>
